# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.production
.env.development

# Arquivos temporários
*.tmp
*.temp